header{
	background: $color-green;
	background: url(/assets/img/bg.jpg) no-repeat center center;
	background-size: cover;
	padding-bottom: 2.3rem;

	.hero{
		margin-top: 0;
		padding-top: 4rem;
		color: $color-light;

		@media (min-width : $breakpoint-m) {
			padding-top: 8rem;
		}
	}
	.subline{
		margin: 0 0;
		padding: 0 0;
		color: $color-light;
		@include font-size(1.2);
	}
}