//
// Basics
// --------------------------------------------------

* {
  &,
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

html {
  font-size: 16px;
  font-size: 100%;
  overflow-y: scroll;
  min-height: 100%;
  text-rendering: optimizeLegibility;   // Check if compatible
  -webkit-font-smoothing: antialiased;  // Check if compatible
  -webkit-text-size-adjust: 100%;
}

@media (min-width : $breakpoint-m) {
  html{ font-size: 16px }
}

@media (min-width : $breakpoint-l) {
  html{ font-size: 20px }
}

@media (min-width : $breakpoint-xl) {
  html{ font-size: 22px;}
}

body {
  word-wrap: break-word;
  font-family: $font-family-primary;
  color: $color-dark;
  zoom: 1;

  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

::-moz-selection{
  color: $color-light;
  background-color: $color-dark;
}
::-webkit-selection{
  color: $color-light;
  background-color: $color-dark;
}
::selection{
  color: $color-light;
  background-color: $color-dark;
}
