<div class="nav--toggle"><i class="fa fa-bars"></i></div>
<nav class="main_nav nav--closed">
  <div class="inner">
    <ul class="links">
      <li><a href="{{ site.url }}" class="{% if page.title == "Home" %}active{% endif;%}">Home</a></li>
      <li><a href="{{ site.url }}/about" class="{% if page.title == "About" %}active{% endif;%}">About</a></li>
      <li><a href="{{ site.url }}/blog" class="{% if page.title == "Blog" %}active{% endif;%}">Blog</a></li>
      <li><a href="{{ site.url }}/projects" class="{% if page.title == "Projects" %}active{% endif;%}">Projects</a></li>
    </ul>
  </div><!-- .inner -->
</nav>
